footer.site-footer {
  color: #464646;
  text-align: center;
  clear: both;
  font-size: 0.95em;
  a {
    color: #464646;
  }
  ul.social-links {
    padding: 0;
    li {
      display: inline;
      margin-right: 0.65em;
      &:last-child { margin-right: 0; }
      font-size: 2em;
      @media (min-width: 500px) { font-size: 1.8em; }
      @media (min-width: 780px) { font-size: 1.3em; }
      a {
        color: #676767;
        &:hover {
          color: #ececec;
        }
      }
    }
  }
  i.totop {
    font-size: 2.5em;
    @media (min-width: 500px) { font-size: 2em; }
    @media (min-width: 780px) { font-size: 1.5em; }
    color: #676767;
    &:hover {
      color: #484848;
      cursor: pointer;
    }
  }
}
