.region-primary-menu nav {
  background: rgba(1, 1, 1, 0.7);
  li.menu-item {
    margin: 0;
    color: #efefef;
    &:not(:first-child):before {
      content:" • ";
    }
    a {
      text-transform: uppercase;
      font-weight: 500;
      color: #efefef;
      font-size: 0.95em;
      letter-spacing: 1px;
      text-decoration: none;
      &:hover {
        border-bottom: 2px solid #efefef;
      }
    }
  }
}
